<!-- project_detail.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    {% if project.cover_image %}
        <img src="{{ project.cover_image.url }}" alt="{{ project.title }}" class="img-fluid">
    {% endif %}
    <p><a href="{{ project.demo_link }}" target="_blank">Demo Link</a></p>
    
    {% if project.demo_video %}
        <p><a href="{{ project.demo_video.url }}" target="_blank">Demo Video</a></p>
    {% endif %}
</div>
{% endblock %}
